<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.johnny.myway" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SignInActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".SignInActivity" />
        <activity android:name=".DirectionsActivity" />
        <activity android:name=".RequestLocationActivity" />
        <activity
            android:name=".AddLocationActivity"
            android:parentActivityName=".DirectionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DirectionsActivity" />
        </activity>


        <!-- API KEY for Google Places API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAXSGlwghZsgIFWY2PIBYeyAD-Opq0pP2g" />
    </application>

</manifest>
